<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.page_title }} - {{ page.page_description }}</title>
    <!-- Noto Sans 웹 폰트 적용 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Open Graph (OG) 태그 추가 -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/default-preview.png{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:card" content="summary_large_image">
  
  <!-- 스타일시트 적용 -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
  </head>