<div class="seminars-container">
  <h2>2024</h2>
  <ul>
    <li>
      <h3>MoConVQ: Unified Physics-Based Motion Control via Scalable Discrete Representations</h3>
      <p>📅 Seminar Date: 2024.08.26</p>
      <p>📖 <strong>Published in:</strong> ACM Trans. Graph. (Jounal)</p>
      <!-- 논문 원문 링크 -->
      <p>
        📄 <a href="https://dl.acm.org/doi/10.1145/3658137" target="_blank">Original Paper</a> | 
        📂 <a href="assets/seminars/24.08.26.pdf" target="_blank">pdf</a>
      </p>
    </li>
    <li>
      <h3>SuperPADL: Scaling Language-Directed Physics-Based Control with Progressive Supervised Distillation</h3>
      <p>📅 Seminar Date: 2024.08.05</p>
      <p>📖 <strong>Published in:</strong> ACM SIGGRAPH 2024 (Conference)</p>
      <!-- 논문 원문 링크 -->
      <p>
        📄 <a href="https://dl.acm.org/doi/10.1145/3641519.3657492" target="_blank">Original Paper</a> | 
        📂 <a href="assets/seminars/24.08.05.pdf" target="_blank">pdf</a>
      </p>
    </li>

    <li>
      <h3>Programmable Motion Generation for Open-Set Motion Control Tasks</h3>
      <p>📅 Seminar Date: 2024.07.22</p>
      <p>📖 <strong>Published in:</strong> CVPR 2024 (Conference)</p>
      <!-- 논문 원문 링크 -->
      <p>
        📄 <a href="https://hanchaoliu.github.io/Prog-MoGen/" target="_blank">Original Paper</a> | 
        📂 <a href="assets/seminars/24.07.22.pdf" target="_blank">pdf</a>
      </p>
    </li>

    <li>
      <h3>3D Human Keypoints Estimation from Point clouds in the Wild Without Human Labels</h3>
      <p>📅 Seminar Date: 2024.05.29</p>
      <p>📖 <strong>Published in:</strong> CVPR 2023 (Conference)</p>
      <!-- 논문 원문 링크 -->
      <p>
        📄 <a href="https://openaccess.thecvf.com/content/CVPR2023/papers/Weng_3D_Human_Keypoints_Estimation_From_Point_Clouds_in_the_Wild_CVPR_2023_paper.pdf" target="_blank">
          Original Paper</a> | 
        📂 <a href="assets/seminars/24.05.29.pdf" target="_blank">pdf</a>
      </p>
    </li>

    <li>
      <h3>3D human pose estimation in video with temporal convolutions and semi-supervised training</h3>
      <p>📅 Seminar Date: 2024.04.17</p>
      <p>📖 <strong>Published in:</strong> CVPR 2019 (Conference)</p>
      <!-- 논문 원문 링크 -->
      <p>
        📄 <a href="https://dariopavllo.github.io/VideoPose3D/" target="_blank">Original Paper</a> | 
        📂 <a href="assets/seminars/24.04.17.pdf" target="_blank">pdf</a>
      </p>
      <p>
  </p>
    </li>    
  </ul>
</div>