<div class="seminars-container">
  {% for year in site.data.seminars %}
    {% assign year_name = year[0] %}
    {% assign seminars_list = year[1] %}
    
    <div class="{{ year_name }}">
      <h2>{{ year_name }}</h2>
      <ul>
        {% for seminar in seminars_list %}
          <li>
            <h3>{{ seminar.title }}</h3>
            <p>📅 Seminar Date: {{ seminar.date }} [{{ seminar.type }}]</p>
            {% if seminar.conference %}
              <p>📖 <strong>Published in:</strong> {{ seminar.conference }}</p>
            {% endif %}
            <p>
              {% if seminar.paper %}
                📄 <a href="{{ seminar.paper }}" target="_blank">Original Paper</a> |
              {% endif %}
              📂 <a href="{{ seminar.pdf }}" target="_blank">pdf</a>
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>